* {
    text-shadow: 0 0 1px #999;
}

html,
body {
    height: 100%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}

nav .fa {
    margin-right: 10px;
    font-size: 16px;
}

.navbar {
    font-size: 1.5rem;
}

.check-bullet {
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAaVBMVEUAAAAzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzNyOEr/AAAAInRSTlMAAQMGBwgJCgsMEyotfoCFmpudoKOlpqvAw9PV3ODi5Ob7qFXAxgAAAGxJREFUCB0FwQkCgiAARcEnYBuICrRBkP37H7IZAL/1vnsATJZak7IBiqIDtypDUARgWuVJshNM9/dNO6Oa18M+dcytM6r76qdxpXWS7KXrc8ZpI2jhtM0Q5aFosWCjMmCKVKtUDAAhjZEC8AeM6wh7q5wb/QAAAABJRU5ErkJggg==');
}

.round {
    border-radius: 50%;
}

.category-card {
    cursor: pointer;
}

.category-card .fa {
    font-size: 80px;
}

.lg-search {
    margin: 100px 0;
}
